{% load django_bootstrap5 %}

<div class="d-flex flex-row flex-wrap" style="padding-left: 145px;">
        {% for photo in photos %}
            <div class="border p-0 m-3" style="width: 293px;">
                <div>
                    <a href="{% url 'photo' photo.pk %}">
                        <img src="{{ photo.image.url }}" width="293"
                             height="210" alt="user picture">
                    </a>
                </div>
                <div>
                    Автор: {{ photo.author.username }}
                </div>
                <div>
                    Подпись: {{ photo.signature }}
                </div>
                <div>
                    Создано: {{ photo.created_at }}
                </div>
            </div>
        {% empty %}
        {% endfor %}
    </div>