{% extends 'base.html' %}
{% load static %}

{% block title %}Пользователь{% endblock %}

{% block content %}

        <h3>Личный кабинет пользователя: {{ user_obj.get_full_name|default:user_obj.username }}</h3></p>

        <h5 class="text-center">Избранные фотографии</h5>
        {% include 'photos.html' with photos=user.favorites.all %}

        <div style="margin-left: -270px; margin-top: 50px;" class="border-top">
            {% include 'photos.html' %}
        </div>

{% endblock %}